
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
 

<div class="modal-content" id="myModal">
    <div class="modal-header">
        <div class="modal-title">Raport</div>
        <button type="button" class="close" data-dismiss="modal" aria-label="close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body"  id="modalBody"><div id="chartContainer"></div></div>
    <div id="modal-footer">
        <button class="btn btn-info" id="generate">Generate chart</button>
        <select asp-items="@Html.GetEnumSelectList<Months>()" id="monthSelect" class="form-control"></select>
    </div>
</div>
    <script src="~/lib/jquery.canvasjs.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#generate").click(function () {
                var monthSelectValue = $("#monthSelect").val();
               
                $.ajax({
                    type: "GET",
                    url: "Home/GetChartData" + "?month=" + monthSelectValue,
                    contentType: "application/json",
                    dataType: "json",
                    success: function (data) {
                        var ChartKeys = Object.keys(data);
                        var ChartValues = Object.values(data);
                        var length = ChartKeys.length;
                        var arr = new Array();

                        for (var i = 0; i < length; i++) {
                            arr[i] =
                                {
                                    label: ChartKeys[i],
                                    y: ChartValues[i]
                                };
                        }

                        var chart = new CanvasJS.Chart("chartContainer",
                            {

                                animationEnabled: true,
                                title: { text: "Monthly Expenses" },
                                data: [{
                                    color: "#4BB3D6",
                                    type: "column",
                                    dataPoints: arr
                                }]
                            });
                        chart.render();
                        $("#modalBody").css("height", "450px");
                    }

                })
            })
        })
    </script>
