@model Expense
@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>
<form method="post">
    <label asp-for="Name"></label>
    <input asp-for="Name" />
    <span asp-validation-for="Name"></span>

    <label asp-for="Category"></label>
    <select asp-for="Category" 
                   asp-items="@Html.GetEnumSelectList<CategoryType>()" />
    <span asp-validation-for="Category"></span>

    <label asp-for="Amount"></label>
    <input asp-for="Amount" />
    <span asp-validation-for="Amount"></span>

    <input type="submit" value="Create"/>
</form>

