@model List<Expense>
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
<span>Filter by expense</span>
<select 
        asp-items="@Html.GetEnumSelectList<CategoryType>()"></select>
@{
    Html.RenderPartial("_ExpensesList", ViewData.Model);
}
<td>@Html.ActionLink("Create", "Create", null, null, new { @class = "btn btn-success" })</td>


